* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    background: rgb(68, 11, 147);
    background: linear-gradient(90deg, rgba(68, 11, 147, 1) 15%, rgba(0, 249, 255, 1) 100%);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar-top {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 999;
    width: 100%;
    top: 0;
    transition: .3 linear;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px 5px #777;
}

.inner-width {
    margin: 0 50px;
    padding: 0 40px;
}

.navbar-top .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 40px;
}

.menu-toggler {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    position: relative;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-top a {
    color: #fff;
}

.navbar-menu a {
    font-weight: 600;
    font-size: 19px;
    margin-left: 25px;
    transition: .2s linear;
}

.navbar-menu a:hover,
.navbar-menu a:nth-child(7) {
    background-color: #3a78fd;
    padding: 6px 9px;
    border-radius: 10px;
}

.sticky {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px 0;
    transition: .3s;
}

.content {
    background: rgba(0, 0, 0, 0.4);
    width: 60%;
    padding: 50px;
    margin: 135px auto;
    border-radius: 40px;
    box-shadow: -5px 10px 50px 2px #777
    /* rgb(6, 121, 167); */
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.form-register {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.form-control {
    border-radius: 19px;
    padding: 13px 25px;
    margin: 20px 0;
    border: 1px solid #D7D7D7;
}

.field-head {
    font-weight: 500;
    margin: 20px 55px 15px 0;
    font-size: 18px;
}

.usertype-col {
    width: 20%;
}

.usertype-radio-col {
    width: 50%;
    margin: 20px 0;
}

#date-of-birth {
    margin-left: 15px;
}

.form-btn {
    text-align: center;
    margin-top: 30px;
}

.form-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 22;
    background: rgb(68, 11, 147);
    background: linear-gradient(90deg, rgba(68, 11, 147, 1) 15%, rgba(0, 249, 255, 1) 100%);
    padding: 14px 33px;
    border-radius: 13px;
    box-shadow: -3px 6px 7px 1px rgb(16, 98, 192);
}

.form-btn a:hover {
    padding: 15px 34px;
    box-shadow: -4px 7px 7px 3px rgb(16, 98, 192);
    transition: .3s;
}

footer a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
    display: block;
}

footer a:hover {
    color: rgb(0, 153, 255);
    padding-left: 10px;
    transition: .3s;
    font-size: 18px;
    font-weight: 500;
}

footer {
    background: rgb(26, 22, 22);
    text-align: left;
}

.footer-col h3 {
    margin-bottom: 25px;
    margin-top: 20px;
}

.inner-footer {
    margin: 80px 80px 0;
}

.footer-col {
    width: 25%;
    padding: 20px;
}

.footer-contact i {
    padding-right: 7px;
}

.footer-social i {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: inset 0px 0px 8px 3px #777;
}

.face {
    padding: 8px 17px;
}

.insta {
    padding: 8px 14px;
}

.twitter {
    padding: 8px 13px;
}

.linked {
    padding: 8px 14px;
}

.insta:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 0 0 0;
}

.face:hover {
    background: #4267B2;
    box-shadow: 0 0 0 0;
}

.twitter:hover {
    background: #1DA1F2;
    box-shadow: 0 0 0 0;
}

.linked:hover {
    background: #0e76a8;
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 980px) {
    .inner-width {
        text-align: left;
        margin: 0 20px;
    }
    .menu-toggler {
        display: block;
        z-index: 999;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        right: -100%;
        padding: 90px 30px;
        transition: .3s linear;
        z-index: 998;
    }
    .sticky .navbar-menu {
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar-menu a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }
    .navbar-menu a:hover {
        border: none;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .inner-footer {
        margin: 80px 30px 0;
    }
    .footer-col {
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    .inner-width {
        margin: 0 20px;
    }
    .menu-toggler {
        display: block;
        z-index: 999;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        right: -100%;
        padding: 90px 30px;
        transition: .3s linear;
        z-index: 998;
    }
    .sticky .navbar-menu {
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar-menu a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }
    .navbar-menu a:hover {
        border: none;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .content {
        background: rgba(0, 0, 0, 0.4);
        width: 90%;
        padding: 30px;
        margin: 100px auto;
        border-radius: 40px;
        box-shadow: -5px 10px 10px 2px rgb(6, 121, 167);
    }
    .form-control {
        border-radius: 19px;
        padding: 9px 20px;
        margin: 15px 0;
        border: 1px solid #D7D7D7;
    }
    .usertype-col {
        width: 40%;
    }
    .usertype-radio-col {
        width: 60%;
        margin: 20px 0;
    }
    .form-btn a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 20;
        background: rgb(68, 11, 147);
        background: linear-gradient(90deg, rgba(68, 11, 147, 1) 15%, rgba(0, 249, 255, 1) 100%);
        padding: 12px 29px;
        border-radius: 13px;
        box-shadow: -3px 6px 7px 1px rgb(16, 98, 192);
    }
    .form-btn a:hover {
        padding: 13px 30px;
        transition: .3s;
        box-shadow: -4px 7px 7px 3px rgb(16, 98, 192);
    }
    .inner-footer {
        margin: 80px 20px 0;
    }
    .footer-col {
        width: 100%;
    }
}